<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
     GTA
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGTA">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarGTA">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/personajes" routerLinkActive="active">Personajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vehiculos" routerLinkActive="active">Vehículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/historia" routerLinkActive="active">Historia</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar..." #searchInput>
        <button class="btn btn-outline-success" type="button" (click)="(searchInput.value)">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<main class="container mt-5 pt-5 content-container">
    <router-outlet></router-outlet>
  </main>
  
<!-- Contenido principal -->
<main class="container mt-5 pt-4">
<router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer class="bg-dark text-white text-center p-4 mt-5">
  &copy; 2025 GameWorld - Todos los derechos reservados.
</footer>
